version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./server
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

  frontend:
    build: ./client
    args:
      VITE_API_URL: http://13.63.19.150:5000/api
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

